<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>PlayTime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http.equiv= "X-UA-Compatible" content= "ie=edge">
  <link rel="stylesheet" href="css/cabecera.css">
</head>

<body background="imagenes/fondo.jpg">
	<header>
		<section>
			<h1>Equipo 2 </h1>
		</section>
		<div class = "conte">
		
			<h2>PlayTime </h2>
			<p> Play What You Want </p>
			<a href = "registration"> Registrarme </a>
			<a href = "login"> Iniciar sesión </a>
		</div>
    </header>	
</body>
</html>